
  /*
    DIAGNOSTIC STYLING Body & Header: Desktop 
  */

  html {
    scroll-behavior: smooth;
  }

body {
  background-color: #efede7;
}

.checkbox{
  visibility: hidden;
  }

 .item{ 
    margin-top: -180px; 
  }

  .nav-link, li{
    margin-left: -120px;
  }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  /*background-color:#cc5500;*/
  margin-top: 100px;
  min-height: 100%;
}

.bgimg-2 {
  /*background-color:#cc5500;*/
  text-shadow: 2px 2px 4px #000000;
  margin-top: 100px;
  min-height: 200px;
}

/* Photo by Steinar Engeland on Unsplash */
/* Third image (Contact) */
.bgimg-3 {
  /*background-color:#cc5500;*/
  text-shadow: 2px 2px 4px #000000;
  margin-top: 100px;
  min-height: 200px;
}

/*.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}*/

@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 200px;
  }
}

/*About Me Section: Desktop*/ 

#about_me_title {
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  margin-top: 80px;
  font-family: 'Staatliches', cursive;
  color: black;
}

.letter {
  font-family: "Lato", sans-serif;
  /*font-family: 'Roboto Condensed', Sans-Serif;*/
  /*font-family: 'Staatliches', cursive;*/
  color: black;
  border: 10px solid #383838;;
  border-radius: .3cm;
  padding: 25px;
}

/* Parent */
.about-me {
  display: flex;
  justify-content: center;
   display: grid;

/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

/* slide */ 
#more {
  display: none;
}
/* end slide */

/* Column: line 1, end line 2 */
/* Row: line 1, end line 2 */
#a {
grid-column: 1 / 4;
grid-row: 2 / 6;
text-align: left;
margin-top: -10px;
/*font-family: ‘Merriweather’, Georgia, serif; */
/*font-family: "Lato", sans-serif;*/
}

#summary-title{
  font-family: 'Staatliches', cursive;
}

.lightgallery{
  margin-left: 30px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  list-style: none;
}

#d { 
  border: 10px solid #383838;
  background-image: url("/img/ifixit-img/replacement-image-5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 0px;
  margin-left: 90px;
  height: 250px; 
  position: relative;
}

#d > i{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#e{
  text-align: center;
  grid-column: 3/ 4;
  grid-row: 1 / 2;
  text-decoration: none;
  margin-left: -40px;
  margin-bottom: 15px;
  }

  #b {
    background-image: url("/img/ifixit-img/replacement-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 0px;
  margin-left: 90px;
  height: 250px; 
  position: relative;
}

#b > i{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* this gets reused for every section with a grid*/
#c{
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  margin-top: -10px;
  text-align: left;
}

td{
  padding-left: 5px;
}

#z {
  background-image: url("/img/ifixit-img/replacement-image-8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
grid-column: 1 / 3;
grid-row: 1 / 2;
margin-top: 0px;
margin-left: 90px;
height: 250px; 
position: relative;
}

#z > i{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#h {
  background-image: url("/img/ifixit-img/replacement-image-9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 0px;
  margin-left: 90px;
  height: 250px; 
  position: relative;
}

#h > i{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#y {
  background-image: url("/img/ifixit-img/replacement-image-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 0px;
  margin-left: 90px;
  height: 250px; 
  position: relative;
}

#y > i{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

/* ------------*/ 

/*Sources section: Desktop */

#sources_title{
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: black;
}

.sources{
display: flex;
justify-content: center;
display: grid;
/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

a{
  text-decoration: none;
}

#f{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-decoration: none;
  font-weight: bold;
}

#g{
grid-column: 3/ 4;
grid-row: 1 / 2;
background-color: #383838;
display: flex; 
justify-content: center;
align-items: center;
flex-direction: column;
font-weight: bold;
}

#social-media-title{
  color: white;
}

#linkedin-button, #handshake-button {
  height: 40px; 
  padding: 5px;
}

.resume-link{
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

  /*Contact Section: Desktop */ 
  #contact_title{
    display: flex; 
    justify-content: center; 
    font-size: 30px; 
    margin-top: 80px;
    font-family: 'Staatliches', cursive;
    color: black;
   }
   input[type=text]{
    background-color: transparent;
    display: flex;
    border: #383838 1px solid;
    height: 20px; 
    margin: 0px 5px 0px 5px; 
  }
  
  input[type=email]{
    background-color: transparent;
    display: flex;
    border: #383838 1px solid;
    height: 20px; 
  }
  
  
  ::placeholder{
  font-family: 'Staatliches', cursive;
  color: #383838;
  padding: 0px 5px 0px 5px; 
  }
  
  /*Info Styling */ 
  .name-package{
    display: flex; 
    justify-content: center;
  }
  
  #address-title{
    display: flex; 
    justify-content: center;
  }
  
  #input-1, #input-2{
    display: flex;
    width: 203px;
  }
  
  .email-package,.company-package {
    display: flex; 
    justify-content: center;
    margin: 10px 0px 10px 0px; 
  }
  
  /* Message Styling */
  
  #input-3, #input-4, #input-5 {
    display: flex;
    width: 415px; 
  }
  
  #input-5{
  height: auto;
  }
  
  label{
  color: black;
  font-family: 'Staatliches', cursive;
  } 
  
  /* File upload Styling*/
  
  /*.upload_file-package{
    display: flex; 
    text-align: center;
    flex-direction: column;
    color:white;
    margin: 20px 0px 0px 0px;
  }
  
  .file-inputs{
    display: flex; 
    justify-content: center;
  }
  
  
  #upload_file_1, #upload_file_2{
    justify-content: center;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 0px 0px; 
  }*/
  
  /* Sent Button Styling*/
  .submit-package{
    display: flex; 
    justify-content: center;
    margin: 40px 0px 0px 0px;
  }
  
  #send-button{
  font-family: 'Staatliches', cursive;
  color: white;
    width: 100px; 
    height: 40px;
    border-radius: .1cm;
    background-color: #383838;
    margin-top: 20px;
  }
  
  
  /* Footer */
  
  .entire-footer {
    height: 20em;
    color: white;
    background-color: #483D8B;
    margin-top: 40px; 
    /*background-image: linear-gradient(to top, #483D8B 10%,  #343148 90%);*/
    border-image-slice: 1;
  }
  
  .footer {
    margin-top: 50px; 
    display: grid; 
    grid-template-columns: repeat(300, 1fr);
    grid-template-rows: repeat(70, 1fr); 
    height: 120px; 
  }
  
  #copyright{
    visibility: hidden;
    /*color: #F1ECD4;
    grid-column-start: 125;
    grid-column-end: 185;
    grid-row-start: 35;
    grid-row-end: 35; */
  }

/* 
media query between 800 & 500
   */   
     
   @media only screen and (max-width: 800px) and (min-width: 500px) {

    .checkbox{
      visibility: hidden;
      }

      /*ul{
        visibility: collapse;
        margin-top: -180px; 
      }*/

      /*About Section: 800 - 500*/ 
      

      .letter {
        font-size: 12px;
      }
      
      /* Parent */
      .about-me {
      /* Columns */
      grid-template-columns: 150px 150px 150px;
      }

      .sources{
        grid-template-columns: 150px 150px 150px;
        }
      
      p { 
          margin-left: 0px; 
      }
   } 

 /* 
 media query for 600px and under
   */   
     
  @media screen and (max-width: 600px) { 

    html {
      margin-top: 100px;
      scroll-behavior: smooth;
    }
    
    .w3-center{
      margin-bottom: 50px;
    }

    .w3-bar-item{
      visibility: hidden;
    }

     /* hamburger */

    .checkbox {
     display: none;
     }
     
     * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  p{
    text-align: left;
  }
  html {
      font-size: 62.5%;
  }
  
  li {
      list-style: none;
      /*font-family: 'Staatliches', cursive;*/
      font-family: "Lato", sans-serif;
  }

  h4{
    font-size: 15px;
    font-weight: bold;
  }
  
  a {
      text-decoration: none;
  }

.navbar {
    display: flex;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}


  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      margin-top: 6em;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
      margin-left: 120px;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
    
    /* Parent */
    .about-me {
      display: flex;
      justify-content: center;
       display: grid;
    
    /* Columns */
    grid-template-columns: 250px 250px 250px;
    grid-gap: 5px; 
    /* Rows */
    grid-template-rows: auto auto auto;
    grid-gap: 5px; 
    }


    /* slide */ 
    #more {
      display: none;
    }
    /* end slide */
    
    /* Column: line 1, end line 2 */
    /* Row: line 1, end line 2 */
    #a {
    grid-column: 2/ 3;
    grid-row: 5/ 6;
    text-align: left;
    }
    
    #c{
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    td{
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: left;
    }
    
    table{
      margin-left: -20px;
    }

    #e, #y, #h, #e, #d, #b, #z{
      display:none;
    }
    
    #e{
    text-align: center;
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    }
    
    #h{
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    
    #i{
    grid-column: 2/ 3;
    grid-row: 1 / 2;
    }
    
    #j{
    text-align: center;
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    }

    /*Sources section: Desktop */
    
    #sources_title{
      display: flex; 
      justify-content: center; 
      font-size: 30px; 
      font-family: 'Staatliches', cursive;
      color: black;
    }
    
    .sources{
    display: flex;
    justify-content: center;
    display: grid;
    /* Columns */
    grid-template-columns: 250px 250px 250px;
    grid-gap: 5px; 
    /* Rows */
    grid-template-rows: auto auto auto;
    grid-gap: 5px; 
    }
    
    #f{
      grid-column: 2 / 3;
    grid-row: 2 / 3;
    }
    
    #g{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    #linkedin-button, #handshake-button {
      height: 40px; 
      padding: 5px;
    }
    
    .resume-link{
      height: 50px;
      text-align: center;
      justify-content: center;
      margin: 40px -10px 0px 0px;
    }
    
     /*Contact Section: Desktop */ 

     #contact_title{
      font-size: 30px; 
     }
     input[type=text]{
      height: 20px; 
      margin: 0px 5px 0px 5px; 
    }
    
    input[type=email]{
      height: 20px; 
    }
    
    ::placeholder{
    padding: 0px 5px 0px 5px; 
    }
    
    /*Info Styling */ 
   /* .whole-contact-form{
      display: flex;
     flex-direction: column;
    }*/

    .name-package{
      display: flex; 
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    
    #address-title{
      display: flex; 
      justify-content: center;
    }
    
    #input-1, #input-2{
      width: 200px;
      margin: 5px;
    }
    
    .email-package,.company-package {
      margin: 5px 0px 10px 0px; 
    }
    
    /* Message Styling */
    
    #input-3, #input-4, #input-5 {
      display: flex;
      width: 200px; 
    }
    
    #input-5{
    height: auto;
    }
    
    /* File upload Styling*/
    
    .upload_file-package{
      /*display: flex; 
      justify-content: center;
      text-align: center;
      color:white;
      margin: 20px 0px 0px 0px;*/
      visibility: hidden;
    }
    
    /*.file-inputs{
      display: flex; 
      justify-content: center;
      flex-direction: column;
    }
    
    #upload_file_1, #upload_file_2{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 10px 0px 0px 0px;
      padding: 5px 0px 0px 0px; 
      border: red dotted 2px;
    }*/
    
    /* Sent Button Styling*/
    .submit-package{
      display: flex; 
      justify-content: center;
      margin: 40px 0px 0px 0px;
    }
    
    #send-button{
    font-family: 'Staatliches', cursive;
    color: white;
      width: 100px; 
      height: 40px;
      border-radius: .1cm;
      border: #383838 1px solid;
      background-color: #383838;
    }
   }

   /* 
    Extenal code sources 
    https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_parallax&stacked=h
    https://codepen.io/alvarotrigo/pen/QWqKOdb 
    https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci */