@import url('a.css');

#d { 
 background-image: url("/img/assortment/assortment-3.png");
}

#b {
 background-image: url("/img/assortment/assortment-1.png");
}

#z {
  background-image: url("/img/assortment/assortment-2.png");
}

#h {
  background-image: url("/img/assortment/assortment-4.png");
}

#y {
  background-image: url("/img/assortment/assortment-1.png");
}

#f{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

/* 
media query for 600px and under
*/   

@media screen and (max-width: 600px) { 
  #f{
    grid-column: 2 / 2;
      grid-row: 2 / 3;
  }
}

   