@import url('a.css');

/*
    DIAGNOSTIC STYLING Body & Header: Desktop 
  */

.letter {
  text-align: center;
  position: relative;
}

.letter > i{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#b {
  background-image: url("/404-Final/images/Image1.jpg");
}


#z {
  background-image: url("/404-Final/images/image2.jpg");
  background-color: #383838;
}

#h {
  background-image: url("/404-Final/images/Tabloid\ -\ 47.png");
  background-color: #383838;
}

#y{
  background-image: url("/404-Final/images/subpage_alt_Page_3.png");
}

#f, #l, #o{
  display: flex; 
  justify-content: center;
  align-items: center;
}
 
#f{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#l{
  grid-column: 3/ 4;
  grid-row: 1 / 2;
}

#o{
  grid-column: 2/ 3;
  grid-row: 1 / 2;
}

#client-extra{
  grid-column: 1/ 4;
  grid-row: 1 / 2;
  background-color: #383838;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

/*
media query between 800 & 400
*/   
     
@media only screen and (max-width: 800px) and (min-width: 400px) {
  
  .letter {
    font-size: 12px;
  }

}  

/* 
media query for 600px and under
*/   
     
@media screen and (max-width: 600px) { 

  #f{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #l{
    margin-bottom: 5px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
  }

  #client-extra{
    visibility: visible;
    background-color: #383838;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .outside-description{
    font-size: 12px;
  }
  
}

   