@import url('a.css');

#d { 
 background-image: url("/img/cs-hrv/cs-hrv-3.png");
}

#b {
  background-image: url("/img/cs-hrv/cs-hrv-4.png");
}

#z {
  background-image: url("/img/cs-hrv/cs-hrv-2.png");
}

#h {
  background-image: url("/img/cs-hrv/cs-hrv-5.png");
}

#y {
  background-image: url("/img/cs-hrv/cs-hrv-6.png");
}