/* 
font-face 
*/

@font-face {
  font-family: "cinzel-black"; src: url("/fonts/cinzel-black.ttf") format("truetype");
  font-family: "cinzel-bold"; src: url("/fonts/cinzel-bold.ttf") format("truetype");
  font-family: "cinzel-regular"; src: url("/fonts/cinzel-regular.ttf") format("truetype");
  font-family: "cinzel-decorative-bold"; src: url("/fonts/cinzel-decorative-bold.ttf") format("truetype");
  font-family: "cinzel-decorative-regular"; src: url("/fonts/cinzel-decorative-regular.ttf") format("truetype");
}

/*
  DIAGNOSTIC STYLING Body & Header
*/

body {
  background-color: #2F3135; 
}

 * {
  outline: dotted red 1px; 
 }
 
.whole-header {
background-image:url('/img/lights-whole.png');
background-position: center;
background-color: #515151;
background-blend-mode: multiply;
background-repeat: no-repeat;
background-size: cover; 
height: 700px;
display: flex;
flex-wrap: wrap;
}
 
 .header-text{
  color: white; 
  width: 100%; 
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px; 
  height: 150px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
  animation: pulse 5s infinite; 
 }
 
 #header-subtitle{
  font-family: "cinzel-bold", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
  text-transform: uppercase; 
   text-shadow: 2px 2px 20px black;
 }
 
 #header-title {
   color: #F1ECD4;   
   font-size: 56px;
   text-shadow: 10px 10px 50px black;
   font-family: "cinzel-decorative-bold", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-transform: uppercase; 
 }
 
 .nav-and-button {
   width: 100%;
   height: 100px; 
   display: flex;
   justify-content: flex-end; 
   align-items: flex-start; 
 }
 
 /*
  DIAGNOSTIC STYLING overlay-navigation (class)
 */
 
 .overlay-navigation {
   display: flex; 
   flex-direction: column;
   margin: 2.5em 50px 0px 29px; 
   width: 100%;
   text-transform: uppercase; 
 }
 
 .nav-text {
  font-family: "cinzel-bold", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
   border: solid #F1ECD4 2px; 
   width: 100px; 
   height: 15px;
   padding: 5px; 
   display: flex; 
   align-items: center;
   justify-content: center;
   margin: 50px 0px 0px 0px; 
   text-decoration: none;
   color: #FFD195; 
 }
 
  /*
  DIAGNOSTIC STYLING open-overlay (div)
 */
 
 .open-overlay { 
   position: absolute;
   left: 4rem;
   top: 2rem;
   z-index: auto;
   background-color: #F1ECD4; 
   border: solid 2px #2F3135; 
   border-radius: 2px; 
   padding: 4px; 
   width: 34px;
   height: 25px; 
   display: block;
   cursor: pointer;
 }
 
 .open-overlay span {
   display: block;
   height: 1px;
   width: 25px; 
   background-color: #29363B;
   cursor: pointer;
   margin: 8px;
   margin-left: 4px; 
 }

 /* First Frame all bars */ 
 .bar-top {
  position: absolute;
  top: 0px; 
}

.bar-middle {
  position: absolute;
  top: 7.5px;
}

.bar-bottom {
  position: absolute;
  top: 15px;
}

 
  /* 
 media query for 650px and under
 */   
   
  @media screen and (max-width: 650px) {  
   
 .open-overlay { 
   position: absolute;
   left: 3rem;
   top: 2rem;
  
   width: 34px;
   height: 25px; 
   display: block;
   cursor: pointer;
 }
   
  .nav-text {
   font-size: 13px; 
   width: 70px; 
 }
   
  .whole-header { 
     height: 315px; 
   }
   
  .header-text { 
   display: flex; 
   align-items: center;
   justify-content: center;
   text-align: center; 
   margin-left: 140px; 
   width: 60%;
 }
 
 #header-subtitle  {
   font-size: 12px; 
 }
 
 #header-title {
   color: #F1ECD4;   
   font-size: 28px;
 }   
}