
/*
  DIAGNOSTIC STYLING Body & Header: Desktop 
*/

.homepage-entire-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
  background-image: url("/img/blueberry-planets-port-r.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

#homepage-heading{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  font-style: bold;
}

.homepage-title{
  background-color: #363636;
  font-size: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-bottom: 60px;
}

/* Homepage Option Section: Desktop*/

.nav-select{
  display: flex;
  justify-content: center;
  display: grid;

  /* Columns */
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 5px; 

  /* Rows */
  grid-template-rows: 300px;
  grid-gap: 5px; 
}

.options{
  font-family: 'Staatliches', cursive;
  display: flex;
  justify-content: center;
  color: black;
  border: 2px solid #383838;
  border-radius: .1cm;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Photo by Josh Calabrese on Unsplash */
#about-option{
  grid-column: 1 / 1;
  grid-row: 1/ 1;
  background-image:url("/img/nav-imgs/josh-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: contrast(90%) grayscale(50%);

  /*filter: invert(19%) sepia(14%) saturate(12%) hue-rotate(341deg) brightness(97%) contrast(89%);*/
}

#about-option:hover{
  filter:brightness(85%);
}

/* Photo by Igor Son on Unsplash*/
#portfolio-option{
  grid-column: 2 / 2;
  grid-row: 1/ 1;
  background-image:url("/img/nav-imgs/igor-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: contrast(90%) grayscale(50%);

}

#portfolio-option:hover{
  filter:brightness(85%);
}

/* Photo by Pawel Czerwinski on Unsplash */
#contact-option{
  grid-column: 3 / 3;
  grid-row: 1/ 1;
  background-image:url("/img/nav-imgs/pawel-c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: contrast(90%) grayscale(50%);
}

#contact-option:hover{
  filter:brightness(85%);
}

/* Photo by Sarah Dorweiler on Unsplash */
#resume-option{
  grid-column: 4 / 4;
  grid-row: 1/ 1;
  background-image:url("/img/nav-imgs/nikita-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#resume-option:hover{
  filter:brightness(85%);
}


/* About Me Section: Desktop */ 

#about_me_title {
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: black;
  margin-bottom: 50px;
}

.letter {
  padding: 25px;
}

#read-button{
  font-family: 'Staatliches', cursive;
  color: #383838;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid #383838;
}

#read-button:hover{
    background-color: #363636;
    color: white;
}

#more {
 display: none;
}

.about-me {
  display: flex;
  justify-content: center;
  display: grid;
  margin-top: 100px;

  grid-template-columns: 250px 250px 250px;
  grid-gap: 5px; 

  grid-template-rows: auto auto auto;
  grid-gap: 5px; 
}
 
#a {
  grid-column: 2/ 4;
  grid-row: 1 / 1;
  text-align: left;
  border: hidden;
}

#summary-title{
  font-family: 'Staatliches', cursive;
}

#d{
  background-image: url(/img/myself.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  height: 250px;
  /*border: 1px solid;*/
  grid-column: 1/ 2;
  grid-row: 1 / 1 ;
  border: hidden;
  margin-top: 50px;
}

#h{
  text-align: center;
  grid-column: 3/ 4;
  grid-row: 1 / 2;
}

#i{
  text-align: center;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

#j{
  text-align: center;
  grid-column: 2/ 2;
  grid-row: 1 / 2;
}

/* Portfolio section: Desktop */

.desk-projects{
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: row;
  margin-top: 50px;
}

.desk-portfolio-entire-description{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  padding-left: 10px;
}

.desk-portfolio-img-ifixit{
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("/img/ifixit-img/ifixit-instructions-1.jpg");
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
}

.desk-portfolio-img-wordpress{
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("/404-Final/images/Image1.jpg");
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
}

.desk-portfolio-img-hrv{
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("/img/cs-hrv/hrv-screen.png");
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
}

.desk-portfolio-img-assortment{
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("/img/assortment/assortment-3.png");
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
}

.desk-portfolio-project-title-right, .desk-portfolio-project-subtitle-right, .desk-portfolio-description-right, .button-right {
  display: flex;
  justify-content: end;
}

.desk-portfolio-project-title-left, .desk-portfolio-project-subtitle-left, .desk-portfolio-description-left {
  display: flex;
  justify-content: start;
}

.desk-portfolio-project-title-right, .desk-portfolio-project-title-left{
  display: flex;
  background-color: #363636;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.desk-portfolio-project-subtitle-right, .desk-portfolio-project-subtitle-left{
  font-size: 15px;
  padding-right: 10px;
}

.desk-portfolio-description-right, .desk-portfolio-description-left{
  font-size: 12px;
  padding-right: 10px;
}

.desk-portfolio-description-right{
  text-align: right;
}

.button-right{
  padding-right: 10px;
}

#project1-img{
  background-image: url("/img/ifixit-img/ifixit-instructions-1.jpg");
  background-size: cover;
  background-position: center;
}

#project2-img{
  background-image: url("/img/assortment/assortment-3.png");
  background-size: cover;
  background-position: center;
}

#project3-img{
  background-image: url("/404-Final/images/Image1.jpg");
  background-size: cover;
  background-position: center;
}

#project4-img{
  background-image: url("/img/cs-hrv/cs-hrv-3.png");
  background-size: cover;
  background-position: center;
}

/*portfolio Mobile*/ 
.two-halfs{
  display: none;
}


/*Contact Section: Desktop */ 
#contact_title{
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: black;
}

input[type=text]{
  background-color: transparent;
  display: flex;
  border: #383838 1px solid;
  height: 20px; 
  margin: 0px 5px 0px 5px; 
}

input[type=email]{
  background-color: transparent;
  display: flex;
  border: #383838 1px solid;
  height: 20px; 
}

::placeholder{
  font-family: 'Staatliches', cursive;
  color: #383838;
  padding: 0px 5px 0px 5px; 
}

/*Info Styling */ 
.name-package{
  display: flex; 
  justify-content: center;
}

#address-title{
  display: flex; 
  justify-content: center;
}

#input-1, #input-2{
  display: flex;
  width: 203px;
}

.email-package,.company-package {
  display: flex; 
  justify-content: center;
  margin: 10px 0px 10px 0px; 
}

/* Message Styling */
#input-3, #input-4, #input-5 {
  display: flex;
  width: 415px; 
}

#input-5{
  height: auto;
}

label{
  color: black;
  font-family: 'Staatliches', cursive;
}

/* Sent Button Styling*/
.submit-package{
  display: flex; 
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

#send-button{
  font-family: 'Staatliches', cursive;
  color: white;
  width: 100px; 
  height: 40px;
  border-radius: .1cm;
  background-color: #383838;
  margin-top: 20px;
}

/* -----------------------------------------------------------------------------------------*/
/* 
media query between 800 & 400
   */   
     
@media only screen and (max-width: 800px) and (min-width: 500px) {

  .checkbox{
  visibility: hidden;
  }

  .letter {
  font-size: 12px;
  }

  /* Nav-select Section*/

 .nav-select{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  display: grid;

  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 5px; 

  grid-template-rows: 300px;
  grid-gap: 5px; 
}

  .about-me {     
    grid-template-columns: 200px 200px 100px;
  }
  
  p { 
    margin-left: 0px; 
  }
  
} /* end of 800 - 500 media query */ 

/* -----------------------------------------------------------------------------------------*/
/* 
media query for 600px and under
*/   

@media screen and (max-width: 500px) {

  .nav-select{
    display: flex;
    justify-content: center;
    display: grid;
  
    /* Columns */
    grid-template-columns: 150px;
    grid-gap: 5px; 
  
    /* Rows */
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 5px; 
  }

  .options{
    font-family: 'Staatliches', cursive;
    display: flex;
    justify-content: center;
    color: black;
    border: 2px solid #383838;
    border-radius: .1cm;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* Photo by Kari Shea on Unsplash */
#about-option{
  grid-column: 1 / 1;
  grid-row: 1/ 1;
  background-image:url("/img/nav-imgs/kari-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: contrast(90%) grayscale(50%);

  /*filter: invert(19%) sepia(14%) saturate(12%) hue-rotate(341deg) brightness(97%) contrast(89%);*/
}

#about-option:hover{
  filter:brightness(85%);
}

/* Photo by Josh Calabrese on Unsplash */
#portfolio-option{
  grid-column: 1 / 1;
  grid-row: 2/ 2;
}

#contact-option{
  grid-column: 1 / 1;
  grid-row: 3/ 3;
}

#resume-option{
  grid-column: 1 / 1;
  grid-row: 4/ 4;
}

  /*About Me Mobile*/ 
  #about_me_title{
    margin-top: 40px;
  }

  .about-me {
    display: flex;
    justify-content: center;
    display: grid;
      
    grid-template-columns: 200px 300px 200px;
    grid-gap: 5px; 
      
    grid-template-rows: auto;
    grid-gap: 5px; 
  }
      
  #a {
    grid-column: 2/ 3;
    grid-row: 1/ 6;
    text-align: left;
  }
      
  #c{
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
      
  #d{
    margin-top: -70px;
    visibility: hidden;
  }
      
  #e{
    text-align: center;
    grid-column: 2/ 3;
    grid-row: 4 / 5;
  }
      
  #h{
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
      
  #i{
    grid-column: 2/ 3;
    grid-row: 1 / 2;
  }
      
  #j{
    text-align: center;
    grid-column: 2/ 3;
    grid-row: 4 / 5;
  }

  #read-button{
    margin-top: 15px;
  }

  /* Portfolio Desktop */
  .desk-projects{
    display: none;
  }

  /*Portfolio Section: Mobile*/

  .two-halfs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    margin-bottom: 30px;
  
    /* Columns */
    grid-template-columns: 300px;
  
    /* Rows */
    grid-template-rows: 100px 150px;
  }
  
  .project-pieces{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #383838;
    color: #E2E8F0;
    padding: 10px;
  }

  #project-description{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 15px;
    font-size: 12px;
    color: black;
    background-color: transparent;
    border: 1px solid #363636;
    border-top: none;
  }
  
  /*Contact Section: Mobile */ 

  #contact_title{
    font-size: 30px; 
  }
      
  input[type=text]{
    height: 20px; 
    margin: 0px 5px 0px 5px; 
  }
      
  input[type=email]{
    height: 20px; 
  }
      
  ::placeholder{
    padding: 0px 5px 0px 5px; 
  }
      
  .name-package{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
      
  #address-title{
    display: flex; 
    justify-content: center;
  }
      
  #input-1, #input-2{
    width: 200px;
    margin: 5px;
  }
      
  .email-package,.company-package {
    margin: 5px 0px 10px 0px; 
  }
      
  /* Message Styling */
      
  #input-3, #input-4, #input-5 {
    display: flex;
    width: 200px; 
  }
      
  #input-5{
    height: auto;
  }
      
  /* File upload Styling*/
      
  .upload_file-package{
        display: flex; 
        justify-content: center;
        text-align: center;
        color:white;
        margin: 20px 0px 0px 0px;
  }
      
  /* Sent Button Styling*/
  .submit-package{
    display: flex; 
    justify-content: center;
    margin: 40px 0px 0px 0px;
  }
      
  #send-button{
    font-family: 'Staatliches', cursive;
    color: white;
    width: 100px; 
    height: 40px;
    border-radius: .1cm;
    border: #383838 1px solid;
    background-color: #383838;
  }
    
  #footer-name{
    font-size: 14px;
    height: 30px;
  }
  
  #footer-slogan{
    margin-top: 5px;
    font-size: 12px;
  }
  
}