
  /*
    DIAGNOSTIC STYLING Body & Header: Desktop 
  */

  html {
    scroll-behavior: smooth;
  }

body {
  background-color: #efede7;
}

/*.main-header {
 text-align: right;
 display: flex; 
 align-self: center; 
 align-items: center;
 background-image: url("/img/texture_background.jpg");
 height: 300px; 
 background-size: contain; 
 background-position: center; 
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-left: 10px;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
  margin-left: 20px;
}

.nav ul {
  padding: 0 22px;
  width: 20%;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  text-decoration: none;
}*/

/*@media only screen and (min-width: 800px) {
/* color and boldness */ */
/*.nav li a:hover {
  font-weight: bold;
}
}
.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  transform: translate(-60%,-30%);
  background: radial-gradient(circle, #DC052D, #DC052D);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  /*transform: translate(-60%,-30%);*/
/*}*/

/* 
media query between 800 & 500
   */   
     
/*@media only screen and (min-width: 800px) {
  a{
    /*color: black;*/
    /*text-decoration: none;
    font-size: 1.5em;
    color:rgb(31, 3, 75); 
    /*-webkit-text-stroke: 1px #000000;*/
 /*}*/
  
  /*#send-button{
    color:rgb(31, 3, 75); 
  }

  a:hover, #send-button:hover {
    font-weight: bold;
    /*font-size: 1.5em;*/
    /*color:rgb(31, 3, 75); */
    /*text-shadow: -1px -1px 0 rgb(255, 248, 207), 1px -1px 0 rgb(255, 248, 207), -1px 1px 0 rgb(255, 248, 207), 1px 1px 0 rgb(255, 248, 207);
    color: rgb(31, 3, 75); */*/
  /*}
}

.three-titles{
  font-family: 'Staatliches', cursive;
  width: 100%;
  margin: -20px 50px 0px 0px;
}

#title-header{
  font-family: Trattatello, fantasy;
  font-weight: lighter; 
  font-size: 3em;
  margin-right: 90px;
  transform: scaleY(3);
  padding-top: 5px;
  padding-bottom: 1px;
}

span.stretch {
  display:inline-block;
  transform: scaleX(2);
}

#access-btn{
            border: 1px solid rgb(31, 3, 75);
            background-color: transparent;
            height: 50px;
            width: 100%; 
            color:  rgb(31, 3, 75);
            font-size: 1.5em;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
            margin-top: -200px;
            border-radius: 5px;
            padding: 10px; 
}*/

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}
/*body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}*/

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/img/texture_background.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/*About Me Section: Desktop*/ 

#about_me_title {
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: white;
}

.letter {
  font-family: 'Staatliches', cursive;
  color: white;
  border: 10px solid #383838;;
  border-radius: .3cm;
  padding: 25px;
  
}

/* Parent */
.about-me {
  display: flex;
  justify-content: center;
   display: grid;

/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

/* slide */ 
#more {
  display: none;
}
/* end slide */

/* Column: line 1, end line 2 */
/* Row: line 1, end line 2 */
#a {
grid-column: 1 / 4;
grid-row: 2 / 6;
text-align: left;
font-family: 'Roboto Condensed', Sans-Serif;
}

/* Column: line 3, end line 4 */
/* Row: line 1, end line 2 */
/*#b {
background-image: url("/img/WhitneyBolarPicture.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
grid-column: 3 / 4;
grid-row: 2 / 6;
}*/

#c{
  text-align: center;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

#d{
background-image: url("/img/blueberry-planets-grey.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #383838;
grid-column: 2/ 2;
grid-row: 1 / 2;
}

#e{
text-align: center;
grid-column: 3/ 4;
grid-row: 1 / 2;
}

/*Sources section: Desktop */

#sources_title{
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: white;
}

.sources{
display: flex;
justify-content: center;
display: grid;
/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

#f{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #383838;
}

#g{
grid-column: 3/ 4;
grid-row: 1 / 2;
display: flex; 
justify-content: center;
align-items: center;
flex-direction: column;
}

#linkedin-button, #handshake-button {
  height: 40px; 
  padding: 5px;
}

.resume-link{
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

 /*Contact Section: Desktop */ 
 #contact_title{
  display: flex; 
  justify-content: center; 
  font-size: 30px; 
  font-family: 'Staatliches', cursive;
  color: white;
 }
 input[type=text]{
  display: flex;
  border-radius: .5cm;
  border: rgb(240, 240, 204) 5px solid;
  background-color:#343148;
  height: 20px; 
  margin: 0px 5px 0px 5px; 
}

input[type=email]{
  display: flex;
  border-radius: .5cm;
  border: rgb(240, 240, 204) 5px solid;
  background-color:#343148;
  height: 20px; 
}


::placeholder{
font-family: 'Staatliches', cursive;
color: white;
padding: 0px 5px 0px 5px; 
}

/*Info Styling */ 
.name-package{
  display: flex; 
  justify-content: center;
}

#address-title{
  display: flex; 
  justify-content: center;
}

#input-1, #input-2{
  display: flex;
  width: 200px;
}

.email-package,.company-package {
  display: flex; 
  justify-content: center;
  margin: 10px 0px 10px 0px; 
}

/* Message Styling */

#input-3, #input-4, #input-5 {
  display: flex;
  width: 415px; 
}

#input-5{
height: auto;
}

label{
color: white;
font-family: 'Staatliches', cursive;
} 

/* File upload Styling*/

.upload_file-package{
  display: flex; 
  text-align: center;
  flex-direction: column;
  color:white;
  margin: 20px 0px 0px 0px;
}

.file-inputs{
  display: flex; 
  justify-content: center;
}


#upload_file_1, #upload_file_2{
  justify-content: center;
  margin: 10px 0px 0px 0px;
  padding: 5px 0px 0px 0px; 
}

/* Sent Button Styling*/
.submit-package{
  display: flex; 
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

#send-button{
font-family: 'Staatliches', cursive;
color: black;
  width: 100px; 
  height: 40px;
  border-radius: .1cm;
  border: rgb(240, 240, 204) 5px solid;
  background-color: rgb(240, 240, 204);
}


/* Footer */

.entire-footer {
  height: 20em;
  color: white;
  background-color: #483D8B;
  margin-top: 40px; 
  background-image: linear-gradient(to top, #483D8B 10%,  #343148 90%);
  border-image-slice: 1;
}

.footer {
  margin-top: 50px; 
  display: grid; 
  grid-template-columns: repeat(300, 1fr);
  grid-template-rows: repeat(70, 1fr); 
  height: 120px; 
}

#copyright{
  color: #F1ECD4;
  grid-column-start: 125;
  grid-column-end: 185;
  grid-row-start: 35;
  grid-row-end: 35; 
}


/* 
media query between 800 & 500
   */   
     
   @media only screen and (max-width: 800px) and (min-width: 500px) {

    .main-header {
        height: 200px;
       }
      
      .three-titles{
        margin: -30px 30px 0px 0px;
        padding-right: 20px; 
        width: 100%;
      }
      
      #title-header{
      margin: 30px 30px 0px 0px;
      font-size: 27px;
      }
      
      #title-header-2{
        margin: -30px 0px 0px 0px;
        font-size: 15px;
      } 
      
      
      /*About Section: 800 - 500*/ 
      
      .portfolio-titles, #portfolio-title{
          font-size: 17px; 
        }
      
      .letter {
        border: 5px solid rgb(240, 240, 204);
        font-size: 12px;
      }
      
      /* Parent */
      .about-me {
      /* Columns */
      grid-template-columns: 150px 150px 150px;
      }
      
      p { 
          margin-left: 0px; 
      }

      #send-button{
        color:rgb(31, 3, 75); 
      }
      
      /*Sources section: 500 - 800 */

      .sources{
      grid-template-columns: 150px 150px 150px;
      }

      .social-media-link{
        display: flex; 
        justify-content: center;
      }
        
        #linkedin-button, #handshake-button {
          height: 40px; 
          padding: 5px;
        }
        
        .resume-link{
          height: 50px;
          text-align: center;
          justify-content: center;
          margin: 40px 0px 0px 0px;
        }

        #resume-link{
          color:rgb(31, 3, 75);
          text-decoration: none;
          font-size:1.5em; 
        }
       /*Questions Section: 500 - 800 */ 
       
       input[type=text]{
        display: flex;
        border-radius: .5cm;
        border: rgb(240, 240, 204) 5px solid;
        background-color:#343148;
        height: 20px; 
        margin: 0px 5px 0px 5px; 
      }
      
      input[type=email]{
        font-family: 'Arvo', serif;
        font-size: 12px; 
      }
      
      
      ::placeholder{
        font-family: 'Arvo', serif;
        font-size: 12px;
      }
      
      /*Info Styling */ 
      .name-package{
        display: flex; 
        justify-content: center;
      }
      
      #address-title{
        display: flex; 
        justify-content: center;
      }
      
      #input-1, #input-2{
        display: flex;
        width: 200px;
      }
      
      .email-package,.company-package {
        display: flex; 
        justify-content: center;
        margin: 10px 0px 10px 0px; 
      }
      
      /* Message Styling */
      
      #input-3, #input-4, #input-5 {
        display: flex;
        width: 415px; 
      }
      
      #input-5{
      height: auto;
      }
      
      label{
      color: white;
      font-family: 'Staatliches', cursive;
      } 
      
      /* File upload Styling*/
      
      .upload_file-package{
        display: none;
      }
      
    #copyright{
      font-size: 12px; 
      grid-column-start: 125;
      grid-column-end: 195;
      grid-row-start: 35;
      grid-row-end: 35; 
    }
   }

 /* 
 media query for 500px and under
   */   
     
  @media screen and (max-width: 500px) { 

    .main-header {
      height: 170px; 
      display: flex; 
      justify-content: center;
     }
           
     #title-header{
      margin: 30px 30px 0px 0px;
      font-size: 27px;
      }
      
      #title-header-2{
        margin: 10px 0px 0px 0px;
        font-size: 15px;
      } 

     #menu-bar {
      width: 25px;
      height: 40px;
      margin: 30px 10px 0px 20px;
      cursor: pointer;
    }
    
    .bar {
      height: 5px;
      width: 100%;
      background-color: #DC052D;
      /*display: block;*/
      border-radius: 5px;
      transition: 0.3s ease;
      /*margin-left: 20px;*/
    }
    
    #bar1 {
      transform: translateY(-4px);
    }
    
    #bar3 {
      transform: translateY(4px);
    }
    
    .nav {
      transition: 0.3s ease;
      display: none;
      margin-top:-30px;
    }
    
    .nav ul {
      padding: 0 22px;
      width: 20%;
    }
    
    .nav li {
      list-style: none;
      padding: 5px 0;
    }
    
    .nav li a {
      color: white;
      font-family: 'Staatliches', cursive;
      font-size: 15px;
      text-decoration: none;
    }
    
    .menu-bg, #menu {
      top: 0;
      left: 0;
      position: absolute;
    }
    
    .menu-bg {
      display: flex;
      flex-direction: row;
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
      transform: translate(-22%,-62%);
      background: radial-gradient(circle, #DC052D, #DC052D);
      border-radius: 50%;
      transition: 0.3s ease;
    }
    
    .change {
      display: block;
    }
    
    .change .bar {
      background-color: white;
    }
    
    .change #bar1 {
      transform: translateY(4px) rotateZ(-45deg);
    }
    
    .change #bar2 {
      opacity: 0;
    }
    
    .change #bar3 {
      transform: translateY(-6px) rotateZ(45deg);
    }
    
    .change-bg {
      width: 820px;
      height: 500px;
      /*transform: translate(-60%,-30%);*/
     }
    
     /* below header */
    #about_me_title {
      margin-top: 60px;
      display: flex; 
      justify-content: center; 
      font-family: 'Staatliches', cursive;
      color: white;
    }
    
    .letter {
      /*font-family: 'Staatliches', cursive;*/
      color: white;
      border: 10px solid rgb(240, 240, 204);
      border-radius: .5cm;
      padding: 25px;
    }
    
    /* Parent */
    .about-me {
      display: flex;
      justify-content: center;
       display: grid;
    
    /* Columns */
    grid-template-columns: 250px 250px 250px;
    grid-gap: 5px; 
    /* Rows */
    grid-template-rows: auto auto auto;
    grid-gap: 5px; 
    }
    
    /* slide */ 
    #more {
      display: none;
    }
    /* end slide */
    
    /* Column: line 1, end line 2 */
    /* Row: line 1, end line 2 */
    #a {
    grid-column: 2/ 3;
    grid-row: 5/ 6;
    text-align: left;
    }
    
    #c{
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    
    #d{
    /*background-image: url("/img/blueberry-planets-grey.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/ 3;
    grid-row: 1 / 2;*/
    margin-top: -70px;
    visibility: hidden;
    }
    
    #e{
    text-align: center;
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    }
    
    /*Sources section: Desktop */
    
    #sources_title{
      display: flex; 
      justify-content: center; 
      font-size: 30px; 
      font-family: 'Staatliches', cursive;
      color: white;
    }
    
    .sources{
    display: flex;
    justify-content: center;
    display: grid;
    /* Columns */
    grid-template-columns: 250px 250px 250px;
    grid-gap: 5px; 
    /* Rows */
    grid-template-rows: auto auto auto;
    grid-gap: 5px; 
    }
    
    #f{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background:rgb(240, 240, 204);
    }
    
    #g{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    #linkedin-button, #handshake-button {
      height: 40px; 
      padding: 5px;
    }
    
    .resume-link{
      height: 50px;
      text-align: center;
      justify-content: center;
      margin: 40px 0px 0px 0px;
    }
    
     /*Contact Section: Desktop */ 

     #contact_title{
      display: flex; 
      justify-content: center; 
      font-size: 30px; 
      font-family: 'Staatliches', cursive;
      color: white;
     }
     input[type=text]{
      display: flex;
      border-radius: .5cm;
      border: rgb(240, 240, 204) 5px solid;
      background-color:#343148;
      height: 20px; 
      margin: 0px 5px 0px 5px; 
    }
    
    input[type=email]{
      display: flex;
      border-radius: .5cm;
      border: rgb(240, 240, 204) 5px solid;
      background-color:#343148;
      height: 20px; 
    }
    
    ::placeholder{
    font-family: 'Staatliches', cursive;
    color: white;
    padding: 0px 5px 0px 5px; 
    }
    
    /*Info Styling */ 
   /* .whole-contact-form{
      display: flex;
     flex-direction: column;
    }*/

    .name-package{
      display: flex; 
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    
    #address-title{
      display: flex; 
      justify-content: center;
    }
    
    #input-1, #input-2{
      display: flex;
      width: 200px;
      margin: 5px;
    }
    
    .email-package,.company-package {
      display: flex; 
      justify-content: center;
      margin: 5px 0px 10px 0px; 
    }
    
    /* Message Styling */
    
    #input-3, #input-4, #input-5 {
      display: flex;
      width: 200px; 
    }
    
    #input-5{
    height: auto;
    }
    
    label{
    color: white;
    font-family: 'Staatliches', cursive;
    } 
    
    /* File upload Styling*/
    
    .upload_file-package{
      /*display: flex; 
      justify-content: center;
      text-align: center;
      color:white;
      margin: 20px 0px 0px 0px;*/
      visibility: hidden;
    }
    
    /*.file-inputs{
      display: flex; 
      justify-content: center;
      flex-direction: column;
    }
    
    #upload_file_1, #upload_file_2{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 10px 0px 0px 0px;
      padding: 5px 0px 0px 0px; 
      border: red dotted 2px;
    }*/
    
    /* Sent Button Styling*/
    .submit-package{
      display: flex; 
      justify-content: center;
      margin: 40px 0px 0px 0px;
    }
    
    #send-button{
    font-family: 'Staatliches', cursive;
    color: black;
      width: 100px; 
      height: 40px;
      border-radius: .1cm;
      border: rgb(240, 240, 204) 5px solid;
      background-color: rgb(240, 240, 204);
    }
    
   }