body{
    background-color: #efede7;
}

/* Reset CSS for button */ 
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.topic {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-button{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-left: 10px;
}

.metadata-info{
    text-align: left;
    padding: 20px;
    width: 500px;
}

#tag-button-icon-plus,
#summary-button-icon-plus,
#client-name-button-icon-plus, 
#timeframe-button-icon-plus,
#majortandr-button-icon-plus,
#platforms-button-icon-plus,
#methods-button-icon-plus,
#team-button-icon-plus{
    display: none;
}

/* BASE Meta-Button*/
.color-button{
    position: relative;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    color: white;
    background-color: #363636;
    opacity: 80%;
    transition: all 0.3s ease-out;
}

.color-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transform: translateX(20rem);
    transition: 0.5s;
}
  
.color-button:hover{
    color: black;
    background-color: rgb(207, 225, 166);
}

.color-button:hover:before{
    transform: translateX(0px);
}

@media screen and (max-width: 700px) {
    
    .metadata-info{
        padding: 10px;
        width: 300px;
    }

    .color-button{
        width: 300px;
    }
}

