/* Style strictly related to the Mobile Nav*/

@media only screen and (min-width: 601px) {
    .switch-button, .nav-menu, .nav-item {
       display: none;
    }

}

@media only screen and (max-width: 600px) {
    /* Reset CSS for button */ 
    *::after,
    *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    }

    a:link{
        text-decoration: none;
    }

    #close-image{
        display: none;
    }

    .entire-nav{
        position: sticky;
	    top: 0;
        background-color: #efede7;

        z-index: 3; 
    }

    /*Base Nav*/
    .switch-button{
        display: flex;
        justify-content: center;
        align-items: center;
       
        position: absolute;
        overflow: hidden;
        background-color: transparent;
        color: #363636;
        border-radius: 50%;
        border: 2px solid #363636;
        margin: 20px;
        
        z-index: 2;
        height: 40px;
        width: 40px;
        transition: all 0.3s ease-out;
    }

    .switch-button:before{
        content: "";
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 100%;
        z-index: 2;
        transform: translateX(20rem);
        transition: all 0.5s ease-in-out;
    }

    .switch-button:hover{
        color: white;
        background-color: #363636;
    }

    .switch-button:hover:before{
        transform: translateX(0px);
    }

    .menu-background{
        border-radius: 20%;
        position: relative;
        background-color: #363636;
        color: white;
        width: 100%;
        display: flex; 
        justify-content: center;
        height: 1px;
        margin-top: -5px;
        /*margin-left: 250px;*/
        z-index: 1;
        transition: all 0.9s ease-in-out;

        position: sticky;
        top: 0;
    }

    .menu-bar{
        display: none;

        /*padding-left: 15px;
        padding-top: 15px;*/

        /*display: flex;
        justify-content: center;
        align-items:center;*/
    }

    .list-part{
        display: none;
        z-index: 2;
        margin-top: 40px;
    }

    .nav-menu{
        display: none;
        position: absolute;

        color: white;
        font-size: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    #nav-img{
       padding-right: 10px;
    }

    /*.list-part-under{
        display: none;
        background: white;
    }*/

    .nav-item{
        /*height: 1px;
        width: 1px;
        padding: 45px;
        font-size: 11px;
        border: white 2px solid;
        border-radius: 50%;*/
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-top: 10px;
        border-bottom: white 0.5px solid;
    }

    #questions-btn{
        border-bottom: none;
    }

    #linkedin, #github{
       padding: 10px; 
       scale: 150%;
       margin-bottom: -20px;
    }

    /*.nav-menu.active {
        left: 0;
    }*/


    /*.list-part, .list-part-two, .list-part-three{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-top: 50px;
        
        position: absolute;
        color: white;
        width: 1px;
        height: 1px;
        z-index: 2;

        transition: all 0.05s ease-in-out;
    }*/




   /* .list-part-two{
        margin-top: 150px;
        margin-left: -17px;
    }

    .list-part-three{
        margin-top: 250px;
        margin-left: 0px;
    }*/

    .nav-link{
        text-align: center;
    }
}