/* 
font-face 
*/

@font-face {
    font-family: "cinzel-black"; src: url("/fonts/cinzel-black.ttf") format("truetype");
    font-family: "cinzel-bold"; src: url("/fonts/cinzel-bold.ttf") format("truetype");
    font-family: "cinzel-regular"; src: url("/fonts/cinzel-regular.ttf") format("truetype");
    font-family: "cinzel-decorative-bold"; src: url("/fonts/cinzel-decorative-bold.ttf") format("truetype");
    font-family: "cinzel-decorative-regular"; src: url("/fonts/cinzel-decorative-regular.ttf") format("truetype");
  }
  
  /*
    DIAGNOSTIC STYLING Body & Header for Desktop Size
  */

  body {
    background-color: #343148;
    text-align: center;
  }
  
  .main-header {
   display: flex; 
   flex-wrap: wrap;
   background-image: url("/img/paintings/hand.jpg");
   height: 600px; 
   background-size: cover; 
   background-position: center; 
  }
  
  .whole-nav {
    font-family: 'Arvo', serif;
    display: flex;
    justify-content: space-between;
    align-items: top; 
    align-items: top;
    text-transform: uppercase; 
    width: 100%;
    margin: 170px 50px 0px 0px;
    color: white;
    text-shadow: 5 5 5px black; 
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    -webkit-text-stroke: 1px #000000;
  }
  
  a:hover {
    font-size: 1em;
    /*text-shadow: -1px -1px 0 rgb(255, 248, 207), 1px -1px 0 rgb(255, 248, 207), -1px 1px 0 rgb(255, 248, 207), 1px 1px 0 rgb(255, 248, 207);*/
    color: rgb(31, 3, 75); 
  }
  
  .three-titles{
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 100%;
    margin: -50px 50px 0px 0px;
  }
  
  #title-header{
  /*font-family: Trattatello, fantasy;*/
  /*font-family: 'Roboto Condensed', Sans-Serif;*/
   font-family: Trattatello, fantasy;
   text-align: end;
   font-size: 47px;
   margin: -60px 0px 0px 0px;
   color: black; 
   width: 100%; 
   height: 100%; 
  }
  
  #title-header-2{
    font-family: 'Staatliches', cursive;
    text-align: end;
    font-size: 17px;
    color: black; 
    width: 100%; 
    height: 100%; 
    padding: 150px 0px 0px 0px;
    margin: -200px 0px 0px 0px;
  } 
  
  .portfolio-link{
  display: flex;
  }
  
  a, #title-header-3{
    font-family: 'Arvo', serif;
    text-align: end;
    font-size: 17px;
     margin: -130px 0px 0px 0px;
    color: black; 
    width: 100%; 
    height: 100%; 
  
  }
  
  #arrow-2{
    text-align: end;
     margin: -130px 0px 0px 5px;
    color: black;  
    height: 20px; 
  }

  /*Tcom Section: Desktop*/ 

  #sources_title{
    display: flex; 
    justify-content: center; 
    font-size: 30px; 
    font-family: 'Staatliches', cursive;
    color: white;
  }

.letter {
  font-family: 'Staatliches', cursive;
  color: white;
  background-color: rgb(240, 240, 204);
  border: 10px solid rgb(240, 240, 204);
  border-radius: .5cm;
  padding: 25px;
}

/* Parent */
.about-me {
  display: flex;
  justify-content: center;
   display: grid;

/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

/*
Images: 
background-image: url("/img/WhitneyBolarPicture.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
\*/

/* Column: line 1, end line 2 */
/* Row: line 1, end line 2 */
#a {
display: flex;
justify-content: center;
align-items: center;
grid-column: 1 / 1;
grid-row: 1 / 1;
text-align: left;
}

/* Column: line 3, end line 4 */
/* Row: line 1, end line 2 */
#b {
display: flex;
justify-content: center;
align-items: center;
grid-column: 2 / 2;
grid-row: 1/ 1;
}

#c{
grid-column: 3 / 3;
grid-row: 1 / 1;
display: flex;
justify-content: center;
align-items: center;
}

.tcom-gallery{
  margin: 10px 0px 0px 0px;
}


/*Journalism/PR section: Desktop */

.sources{
display: flex;
justify-content: center;
display: grid;
/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

#d {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  }
  
  #e {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1/ 1;
  }
  
  #f{
  display: flex;
  justify-content: center;
  align-items: center;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

#linkedin-button{
  height: 40px; 
}

#handshake-button{
  height: 40px; 
}

.resume-link{
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

#arrow-3{
text-align: center;
height: 10px; 
}
  

   /* Gallery Styling For Every Gallery*/
   .tile-and-gallery{
    background-color: #616161; 
    padding-top: 10px;
    padding-bottom: 10px;
   }

   .gallery-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
   }

   .whole-gallery{
     background-color: white; 
     border-radius: 10px;
     margin: 50px; 
     padding: 50px 20px 50px 20px; 
     display: flex;
     align-items: center;
     justify-content: center; 
     flex-wrap: wrap;
   }

   .gallery-images-tcom{
     margin: 0px 10px 0px 50px;
   }
   
    /*
    DIAGNOSTIC STYLING open-overlay (div)
   */
   
   .nav-button{
     border: blue 5px dotted; 
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .open-overlay { 
     background-color: #e78b0028; 
     border: solid 2px #E78A00; 
     border-radius: 2px; 
     padding: 4px; 
     width: 34px;
     height: 25px; 
     display: block;
     cursor: pointer;
   }
   
   .open-overlay span {
    display: block;
    height: 1px;
    width: 25px; 
    background-color: black;
    cursor: pointer;
    margin-top: 71px;
    margin-left: 4px; 
     
   }
  
   /* Frame all bars (initial) */ 
   .bar-top {
    position: absolute;
    top: 0px; 
  }
  
  .bar-middle {
    position: absolute;
    top: 7.5px;
  }
  
  .bar-bottom {
    position: absolute;
    top: 15px;
  }

    /* 
  Nav (section) media query 650 max 
   */   
     
    @media screen and (max-width: 650px) { 
      
      .whole-header {
        background-color: white; 
        display: flex;
        flex-wrap: wrap;
       }
        
       .whole-nav{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: em;
        height: 75px; 
        width: 100%;
      }
      
         .header-text{
          color: #E78A00; 
          font-size: small;
          margin: 0px 25px 0px 20px;
          width: 100px;
         }
         
         .nav{
           width: 60%;
         }

         .nav-text {
          visibility: hidden;
         }

        .open-overlay { 
          visibility: hidden;
        }
      
}
   
   /*
   DIAGNOSTIC STYLING Section: Portfolio Nav
 
 
 .portfolio-nav {
   display: grid; 
   grid-template-columns: repeat(300, 1fr);
   grid-template-rows: repeat(70, 1fr); 
   height: 120px; 
 }
 */
 /* 
gallery media query for 650px and under
   */   
     
   @media screen and (max-width: 650px) { 

    #gallery-title {
       font-size: 12px;  
       margin-left: 10px;  
     }
      
     .whole-gallery { 
      margin: 0px 15px 0px 15px; 
    
     } 
     
     .gallery-images-photography {
      display: flex;
      justify-content: center; 
      border: solid #E78A00 2px;
      margin: 5px; 
      height: 100px;
      width: 100px; 
     }
    
     .gallery-images-s-w {
       margin: 5px; 
       height: 100px;
       width: 100px; 
     }
    
     .gallery-images-d-d {
      margin: 5px; 
      height: 100px;
      width: 100px; 
     }
    
     .gallery-subject {
       font-size: 10px; 
     }
     
     .gallery-subject {
       padding: 20px; 
     }
   }
 
   /* 
Gallery (section) media query 400 max 
 */ 

 /* GALLERY BORDER COLOR*/
 @media screen and (max-width: 400px) { 

 }
 
 #gallery-title {
  display: flex; 
  flex-wrap: wrap; 
  font-family: "cinzel-bold", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-transform: uppercase;
   color: #F1ECD4;
   font-size: 20px;  
   margin-left: 50px;  
 }
  
#lightgallery {
  list-style-type: none; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 0px 50px 0px 50px; 
 } 
 
 .gallery-images-photography {
  border-radius: 5px; 
  display: flex;
  justify-content: center; 
  border: solid black 2px;
  margin: 5px; 
  height: 200px;
  width: 200px; 
 }

 .gallery-images-s-w {
  border-radius: 5px; 
   display: flex;
   justify-content: center; 
   border: solid black 2px;
   margin: 5px; 
   height: 200px;
   width: 200px; 
 }

 .gallery-images-d-d {
  border-radius: 5px; 
  display: flex;
  justify-content: center; 
  border: solid black 2px;
  margin: 5px; 
  height: 200px;
  width: 200px;
 }

 .gallery-subject {
   text-align: center;
   text-decoration: none; 
   color: #F1ECD4;
   font-size: 15px; 
 }
 
 .gallery-subject {
  font-family: "cinzel-bold", Arial, Helvetica, sans-serif; 
   display: flex; 
   justify-content: center;
   align-items: center;
   padding: 30px; 
 }

/* digital design images */

#image-1-d-d { 
   margin: 5px; 
   background-image:url('/img/space-guy.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-2-d-d {
   margin: 5px; 
   background-image:url('/img/jelly-fish-finish.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-3-d-d {
  margin: 5px; 
  background-image:url('/img/sl-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-4-d-d {
  margin: 5px; 
  background-image:url('/img/tcom-305-poster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* photography images */ 

#image-1-photography {
  margin: 5px; 
  background-image:url('/img/daisy.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-2-photography {
  margin: 5px; 
  background-image:url('/img/rotc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-3-photography {
  margin: 5px; 
  background-image:url('/img/warm-weather.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#image-4-photography {
  margin: 5px; 
  background-image:url('/img/tennis-net.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

 /* 
 footer media query for 600px and under
   */   
     
   @media screen and (max-width: 600px) { 

    .footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

   }

