/* 
font-face 
*/

@font-face {
    font-family: "cinzel-black"; src: url("/fonts/cinzel-black.ttf") format("truetype");
    font-family: "cinzel-bold"; src: url("/fonts/cinzel-bold.ttf") format("truetype");
    font-family: "cinzel-regular"; src: url("/fonts/cinzel-regular.ttf") format("truetype");
    font-family: "cinzel-decorative-bold"; src: url("/fonts/cinzel-decorative-bold.ttf") format("truetype");
    font-family: "cinzel-decorative-regular"; src: url("/fonts/cinzel-decorative-regular.ttf") format("truetype");
  }
  
  /*
    DIAGNOSTIC STYLING Body & Header for Desktop Size
  */

  body {
    background-color: #343148;
    text-align: center;
  }
  
  .main-header {
   display: flex; 
   flex-wrap: wrap;
   background-image: url("/img/whit-essence-1.png");
   background-color: rgb(240, 240, 204);
   height: 600px; 
   background-size: contain; 
   background-position: left; 
   background-repeat: no-repeat;
  }
  
  .whole-nav {
    font-family: 'Arvo', serif;
    display: flex;
    justify-content: space-between;
    align-items: top; 
    align-items: top;
    text-transform: uppercase; 
    width: 100%;
    margin: 170px 50px 0px 0px;
    color: white;
    text-shadow: 5 5 5px black; 
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    -webkit-text-stroke: 1px #000000;
  }
  
  a:hover {
    font-size: 1em;
    /*text-shadow: -1px -1px 0 rgb(255, 248, 207), 1px -1px 0 rgb(255, 248, 207), -1px 1px 0 rgb(255, 248, 207), 1px 1px 0 rgb(255, 248, 207);*/
    color: rgb(31, 3, 75); 
  }
  
  .three-titles{
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 100%;
    margin: -50px 50px 0px 0px;
  }
  
  #title-header{
  /*font-family: Trattatello, fantasy;*/
  /*font-family: 'Roboto Condensed', Sans-Serif;*/
   font-family: Trattatello, fantasy;
   text-align: end;
   font-size: 47px;
   margin: -60px 0px 0px 0px;
   color: black; 
   width: 100%; 
   height: 100%; 
  }
  
  #title-header-2{
    font-family: 'Staatliches', cursive;
    text-align: end;
    font-size: 17px;
    color: black; 
    width: 100%; 
    height: 100%; 
    padding: 150px 0px 0px 0px;
    margin: -200px 0px 0px 0px;
  } 
  
  .portfolio-link{
  display: flex;
  }
  
  a, #title-header-3{
    font-family: 'Arvo', serif;
    text-align: end;
    font-size: 17px;
     margin: -130px 0px 0px 0px;
    color: black; 
    width: 100%; 
    height: 100%; 
  
  }
  
  #arrow-2{
    text-align: end;
     margin: -130px 0px 0px 5px;
    color: black;  
    height: 20px; 
  }

  /*Tcom Section: Desktop*/ 

  #sources_title{
    display: flex; 
    justify-content: center; 
    font-size: 30px; 
    font-family: 'Staatliches', cursive;
    color: white;
  }

.letter {
  font-family: 'Staatliches', cursive;
  color: white;
  background-color: rgb(240, 240, 204);
  border: 10px solid rgb(240, 240, 204);
  border-radius: .5cm;
  padding: 25px;
}

/* Parent */
.about-me {
  display: flex;
  justify-content: center;
   display: grid;

/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

/*
Images: 
background-image: url("/img/WhitneyBolarPicture.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
\*/

/* Column: line 1, end line 2 */
/* Row: line 1, end line 2 */
#a {
display: flex;
justify-content: center;
align-items: center;
grid-column: 1 / 1;
grid-row: 1 / 1;
text-align: left;
}

/* Column: line 3, end line 4 */
/* Row: line 1, end line 2 */
#b {
display: flex;
justify-content: center;
align-items: center;
grid-column: 2 / 2;
grid-row: 1/ 1;
}

#c{
grid-column: 3 / 3;
grid-row: 1 / 1;
display: flex;
justify-content: center;
align-items: center;
}

.tcom-gallery{
  margin: 10px 0px 0px 0px;
}


/*Journalism/PR section: Desktop */

.sources{
display: flex;
justify-content: center;
display: grid;
/* Columns */
grid-template-columns: 250px 250px 250px;
grid-gap: 5px; 
/* Rows */
grid-template-rows: auto auto auto;
grid-gap: 5px; 
}

#d {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  }
  
  #e {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1/ 1;
  }
  
  #f{
  display: flex;
  justify-content: center;
  align-items: center;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

#linkedin-button{
  height: 40px; 
}

#handshake-button{
  height: 40px; 
}

.resume-link{
  height: 50px;
  text-align: center;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

#arrow-3{
text-align: center;
height: 10px; 
}

#copyright{
  color: rgb(240, 240, 204);
}

  /* 
media query between 800 & 500
   */   
     
   @media only screen and (max-width: 800px) and (min-width: 500px) {

    .main-header {
        height: 400px;
       }

       .whole-nav {
        display: none;
        /*margin: 130px 50px 0px 0px;*/
      }
      /*
          MAIN LINKS
      */
      
      a {
        font-size: 15px;
          -webkit-text-stroke: 1px #000000;
      }
      
      a:hover {
        pointer-events: none;
      }
      
      /*
          end MAIN LINKS... Look at #title-header-3
      */
      
      .three-titles{
        margin: 240px 30px 0px 0px;
      }
      
      #title-header{
       font-size: 27px;
      }
      
      #title-header-2{
        font-size: 15px;
      } 
      
      .portfolio-link{
      display: flex;
      }
      
      a, #title-header-3{
        font-size: 13px;
        margin: -100px 0px 0px 0px;
      }
      
      #arrow-2{
        height: 15px; 
        margin: -100px 0px 0px 5px;
      }
      
      /*About Section: 800 - 500*/ 
      
      .portfolio-titles, #portfolio-title{
          font-size: 17px; 
        }
      
      .letter {
        border: 5px solid rgb(240, 240, 204);
        font-size: 12px;
      }
      
      /* Parent */
      .about-me {
      /* Columns */
      grid-template-columns: 150px 150px 150px;
      }
      
      p { 
          margin-left: 0px; 
      }
      
      /*Sources section: Desktop */
      
      #sources_title{
        font-size: 15px; 
      }
      
      .sources{
      grid-template-columns: 150px 150px 150px;
      }

       /*Questions Section: 500 - 800 */ 
       #contact_title{
        font-size: 15px; 
       }
       input[type=text]{
        display: flex;
        border-radius: .5cm;
        border: rgb(240, 240, 204) 5px solid;
        background-color:#343148;
        height: 20px; 
        margin: 0px 5px 0px 5px; 
      }
      
      input[type=email]{
        font-family: 'Arvo', serif;
        font-size: 12px; 
      }
      
      
      ::placeholder{
        font-family: 'Arvo', serif;
        font-size: 12px;
      }
      
      /*Info Styling */ 
      .name-package{
        display: flex; 
        justify-content: center;
      }
      
      #address-title{
        display: flex; 
        justify-content: center;
      }
      
      #input-1, #input-2{
        display: flex;
        width: 200px;
      }
      
      .email-package,.company-package {
        display: flex; 
        justify-content: center;
        margin: 10px 0px 10px 0px; 
      }
      
      /* Message Styling */
      
      #input-3, #input-4, #input-5 {
        display: flex;
        width: 415px; 
      }
      
      #input-5{
      height: auto;
      }
      
      label{
      color: white;
      font-family: 'Staatliches', cursive;
      } 
      
      /* File upload Styling*/
      
      .upload_file-package{
        display: none;
      }
      
    #copyright{
      color: rgb(240, 240, 204);
      font-size: 12px; 
      grid-column-start: 125;
      grid-column-end: 195;
      grid-row-start: 35;
      grid-row-end: 35; 
    }
   }

 /* 
 media query for 500px and under
   */   
     
   @media screen and (max-width: 500px) { 
    

    .main-header {
        height: 300px;
       }

       .whole-nav {
        display: none;
        /*margin: 130px 50px 0px 0px;*/
      }
      /*
          MAIN LINKS
      */
      
      a {
        font-size: 12px;
          -webkit-text-stroke: 5px #000000;
      }
      
      /*a:hover {
        font-size: 11px; 
      }*/
      
      /*
          end MAIN LINKS... Look at #title-header-3
      */
      
      .three-titles{
        margin: 240px 30px 0px 0px;
      }
      
      #title-header{
       font-size: 27px;
      }
      
      #title-header-2{
        font-size: 15px;
      } 
      
      .portfolio-link{
      display: flex;
      }
      
      a, #title-header-3{
        font-size: 11px;
        margin: -100px 0px 0px 0px;
      }
      
      #arrow-2{
        height: 15px; 
      }
      
      /*About Section: under 500 */ 
      
      .portfolio-titles, #portfolio-title{
          font-size: 17px; 
        }
      
      .letter {
        border: 5px solid rgb(240, 240, 204);
        font-size: 12px;
      }
      
      /* Parent */
      .about-me {
      /* Columns */
      grid-template-columns: 100px 100px 100px;
      }
      
      p { 
          margin-left: 30px; 
      }
      
      /* Column: line 1, end line 2 */
      /* Row: line 1, end line 2 */
      /* this gets reused for every section with a grid*/
      #a {
          height: 150px;
      }
      
      /*Sources section: Desktop */
      
      #sources_title{
        font-size: 15px; 
      }
      
      .sources{
      grid-template-columns: 100px 100px 100px;
      }

       /*Questions Section: 500 - 800 */ 
       #contact_title{
        font-size: 15px; 
       }
       input[type=text]{
        display: flex;
        border-radius: .5cm;
        border: rgb(240, 240, 204) 5px solid;
        background-color:#343148;
        height: 20px; 
        margin: 0px 5px 0px 5px; 
      }
      
      input[type=email]{
        font-family: 'Arvo', serif;
        font-size: 12px; 
      }
      
      
      ::placeholder{
        font-family: 'Arvo', serif;
        font-size: 12px;
      }
      
      /*Info Styling */ 
      .name-package{
        display: flex; 
        justify-content: center;
      }
      
      #address-title{
        display: flex; 
        justify-content: center;
      }
      
      #input-1, #input-2{
        display: flex;
        width: 125px;
      }
      
      .email-package,.company-package {
        display: flex; 
        justify-content: center;
        margin: 10px 0px 10px 0px; 
      }
      
      /* Message Styling */
      
      #input-3, #input-4, #input-5 {
        display: flex;
        width: 350px; 
      }
      
      #input-5{
      height: auto;
      }
      
      label{
      color: white;
      font-family: 'Staatliches', cursive;
      } 
      
      /* File upload Styling*/
      
      .upload_file-package{
        display: none;
      }

      #send-button{
          width: 75px; 
          height: 30px;
        }

    #copyright{
      color: rgb(240, 240, 204);
      font-size: 10px; 
      grid-column-start: 120;
      grid-column-end: 205;
      grid-row-start: 35;
      grid-row-end: 35; 
    }
   }

