/*Style strictly for the Product & client section, based on the General Dropdown with minimal animation*/

.source-topic {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.source-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.source-button-list{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
}

.source-option{
    display: flex; 
    flex-direction: column;
    margin: 5px;
}

.source-types{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    padding-top: 50px;
}

.source-info{
    text-align: left;
    padding: 20px;
}

#icon-search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#tag-button-icon-minus,
#summary-button-icon-minus,
#client-name-button-icon-minus, 
#timeframe-button-icon-minus,
#majortandr-button-icon-minus,
#platforms-button-icon-minus,
#methods-button-icon-minus,
#team-button-icon-minus,
.client-info {
    display: none;
}

/* BASE Meta-Button*/
.source-button{
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    color: black;
    background-color: transparent;
    opacity: 60%;
    transition: all 0.3s ease-out;
}

.source-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transform: translateX(20rem);
    transition: 0.5s;
}
  
.source-button:hover{
    color: black;
    background-color: rgb(207, 225, 166);
}

.source-button:hover:before{
    transform: translateX(0px);
}

@media screen and (max-width: 700px) {

    .source-button-list{
        flex-direction: column;
        width: 300px;
    }
    
}

